<%- include('partials/header') -%>

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit voluptatem quae amet. Impedit quas deleniti expedita iure cumque! Officiis inventore consectetur ullam quibusdam id maiores libero assumenda harum explicabo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit voluptatem quae amet. Impedit quas deleniti expedita iure cumque! Officiis inventore consectetur ullam quibusdam id maiores libero assumenda harum explicabo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit voluptatem quae amet. Impedit quas deleniti expedita iure cumque! Officiis inventore consectetur ullam quibusdam id maiores libero assumenda harum explicabo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit voluptatem quae amet. Impedit quas deleniti expedita iure cumque! Officiis inventore consectetur ullam quibusdam id maiores libero assumenda harum explicabo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit voluptatem quae amet. Impedit quas deleniti expedita iure cumque! Officiis inventore consectetur ullam quibusdam id maiores libero assumenda harum explicabo.</p>

<%- include('partials/footer') -%>