<%- include('partials/header') -%>


<div class="flex flex-col place-items-center min-h-screen bg-base-200 p-8">
  <div class="flex flex-wrap -mx-4">
    <div class="w-full px-4">
       <div class="text-center mx-auto mb-[60px] lg:mb-20 max-w-[510px]">
          <span class="font-semibold text-2xl text-primary mb-2 block">
          About
          </span>
          <h2
             class="
             font-bold
             text-3xl
             sm:text-4xl
             md:text-[40px]
             text-dark
             mb-4
             "
             >
             Who Are We?
          </h2>
          <p class="text-base text-body-color">
             We are great people and we want to help you succeed. Your success leads to our success. That's it. 
          </p>
       </div>
    </div>
  </div>
 
  <!-- CEO Opening -->
  <div class="hero-content flex-col lg:flex-row my-20">
  <img src="https://images.unsplash.com/photo-1544168190-79c17527004f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" class="max-w-sm rounded-lg shadow-2xl" />
  <div class="flex flex-col justify-center">
    <h1 class="text-3xl leading-[3rem] font-bold text-center">Our Ceo Guides Us. Why? <br> <span class="underline decoration-indigo-500"> He's Lived the Life! </span></h1>
    <p class="py-6 leading-8 lg:px-32 md:py-12 lg:py-24">It all started in 2001. John graduated from Harvard with a PhD in BioChemistry and Nuerobiology, but instead of diving into lucrative research and mega-millions, he decided to join forces with other brainiacs to teach ESL in China. In deleniti eaque aut repudiandae et a id nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur id officia voluptatem! Aperiam, dolores deserunt expedita repellendus illo mollitia officia ex pariatur, eaque dolore ea obcaecati cumque laborum voluptates!</p>
  </div>
  
  </div>

  <!-- Number 2 Opening -->
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="max-w-sm rounded-lg shadow-2xl" />
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl leading-[3rem] font-bold text-center">The Premiere Editing Service for <br> <span class="underline decoration-pink-500"> Medical Journals </span></h1>
      <p class="py-6 leading-8 lg:px-32 md:py-12 lg:py-24">It all started in 2001. John graduated from Harvard with a PhD in BioChemistry and Nuerobiology, but instead of diving into lucrative research and mega-millions, he decided to join forces with other brainiacs to teach ESL in China. In deleniti eaque aut repudiandae et a id nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur id officia voluptatem! Aperiam, dolores deserunt expedita repellendus illo mollitia officia ex pariatur, eaque dolore ea obcaecati cumque laborum voluptates!</p>
      <!-- <div class="w-full flex justify-center">
        <a href="/signup" class="btn btn-primary">Get Started</a>
      </div> -->
    </div>
  </div>

  <!-- CEO Opening -->
  <div class="hero-content flex-col lg:flex-row my-20">
    <img src="https://images.unsplash.com/photo-1581093196277-9f608bb3d4b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="max-w-sm rounded-lg shadow-2xl" />
    <div class="flex flex-col justify-center">
      <h1 class="text-3xl leading-[3rem] font-bold text-center">We Care About Our Clients <br> <span class="underline decoration-indigo-500"> You Are Our Priority </span></h1>
      <p class="py-6 leading-8 lg:px-32 md:py-12 lg:py-24">It all started in 2001. John graduated from Harvard with a PhD in BioChemistry and Nuerobiology, but instead of diving into lucrative research and mega-millions, he decided to join forces with other brainiacs to teach ESL in China. In deleniti eaque aut repudiandae et a id nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit consequatur id officia voluptatem! Aperiam, dolores deserunt expedita repellendus illo mollitia officia ex pariatur, eaque dolore ea obcaecati cumque laborum voluptates!</p>
    </div>
    
  </div>   
</div>


<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Ready to dive in?</span>
      <span class="block text-indigo-600">Will give you a free trial today.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="/signup" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-5 py-3 text-base font-medium text-white hover:bg-indigo-700">Get Started</a>
      </div>
      <div class="ml-3 inline-flex rounded-md shadow">
        <a href="/signup" class="inline-flex items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-indigo-600 hover:bg-indigo-50">Create an Account</a>
      </div>
    </div>
  </div>
</div>
    

<%- include('partials/footer') -%>