<%- include('partials/header') -%>

<div class="p-3 md:p-20">
  <div class="flex flex-col md:flex-row md:space-y-10">
      <h1>Cancelled! Something happened I guess.</h1>
      <a href="/profile" class="btn btn-primary">Back to Profile</a>
  </div>
</div>


<%- include('partials/footer') -%>