<%- include('partials/header') -%>

    <h1>Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur, labore aspernatur id, nihil ipsum voluptas doloribus ea officia ex in dolore aperiam totam voluptatem iste maiores cupiditate fuga aliquam!</p>

<%- include('partials/footer') -%>